.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-tree {
  position: relative;
  overflow: hidden;
  padding-left: 16px;
  .f-no-select;
}

.m-draggable {
  position: absolute;
  opacity: 0.8;
  .f-no-select;
}

.m-handler {
  position: absolute;
  left: 4px;
  color: lightgray;
}

.m-node {
  &.placeholder > * {
    visibility: hidden;
  }

  &.placeholder {
    border: 1px dashed #ccc;
  }

  .inner {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
  }

  .collapse {
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  .caret-right:before {
    content: '\25B8';
  }

  .caret-down:before {
    content: '\25BE';
  }
}
